body{
    background-color: #E5E5E5;
    font-family: 'Oswald', sans-serif;
}

main{
    width: 70%;
    margin: 0 auto;
}

.logo{
    padding: 40px 60px;
    position: relative;
}

.ingresar{
    display: block;
    color: #0A3871;
    font-size: 22px;
}

.texto-ingresado{
    background-color: #f2f2f2;
    border: none;
    border-radius: 8px;
    display: block;
    margin-top: 20px;
    padding: 15px 25px;
    width: 500px;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.botonesYcondicion{
    position: relative;
    top: 130px;
    margin-bottom: 10px;
}

.texto_condicion{
    display: inline;
    margin: 10px 0;
    color: #495057;
    font-size: 14px;
}

.enviar{
    display: block;
    margin-top: 15px;
}

.boton_encriptar:hover{
    background: #05254c;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.boton_encriptar{
    display: inline;
    background-color: #0A3871;
    border: 1px solid #D8DFE8;
    color: #D8DFE8;
}
.boton_desencriptar, .boton_encriptar{
    border-radius: 12px;
    width: 220px;
    height: 50px;
    margin-right: 25px;
    transition: background-color 0.3s ease;
}
.boton_desencriptar{
    display: inline;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}
.boton_desencriptar:hover{
    background: #afb9c7;
    color: #13498b;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cajita{
    position: absolute;
    padding: 20px;
    display: grid;
    width: 247px;
    height: 500px;
    right: 2%;
    top: 5%;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    align-content: center;
    justify-items: center;
}

.imagen_lista{
    padding-bottom: 10px;
    margin-top: -40px;
}
.cajita li p{
    padding: 8px;
}

.li_texto{
    width: inherit;
}

#texto_agregado{
    color: #495057;
    font-size: 22px;
    text-align: left;
    overflow-wrap: break-word;
    word-break: break-all;
    height: fit-content;
}


.aviso1{
    display: block;
    color: #343A40;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.aviso2{
    display: block;
    color: #495057;
    font-size: 12px;
    text-align: center;
}

.copiar{
    display: none;
}

#boton_copiar{
    width: 240px;
    height: 40px;
    font-size: 12px;
    border: 1px solid #0A3871;
    border-radius: 15px;
    color: #0A3871;
    transition: background-color 0.3s ease;
}

#boton_copiar:hover{
    background: #afb9c7;
    color: #13498b;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer{
    position: relative;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    margin-top: 195px;
    width: 70%;
    left: 10px;
}

@media screen and (max-width: 1000px)  {
    main{
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
    .texto-ingresado{
        width: -webkit-fill-available;
    }
    .botonesYcondicion{
        position: initial;
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .enviar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .boton_desencriptar, .boton_encriptar{
        width: 48.5%;
        margin: 0;
    }

    .cajita{
        width: -webkit-fill-available;
        height: auto;
        position: initial;
        align-content: center;
        justify-items: center;
    }

    .imagen_lista{
        display: none;
    }

    footer{
        position: relative;
        margin-bottom: 10px;
    }
    
}