body{
    background-color: #E5E5E5;
    font-family: 'Oswald', sans-serif;
}

main{
    width: 70%;
    margin: 0 auto;
}

.logo{
    padding: 40px 60px;
    position: relative;
}

.ingresar{
    position: absolute;
    top: 150px;
    color: #0A3871;
    font-size: 22px;
}

.texto-ingresado{
    background-color: #f2f2f2;
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    display: block;
    margin-top: 20px;
    padding: 15px 25px;
    width: 50%;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.condiciones{
    display: inline-block;
    position: relative;
    top: 350px;
    margin-bottom: 10px;
}

.texto_condicion{
    display: inline;
    margin: 10px 0;
    color: #495057;
    font-size: 14px;
}

.enviar{
    position: relative;
    top: 350px;
    margin: 5px 0;
}

.boton_encriptar:hover{
    background: #05254c;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.boton_encriptar{
    background-color: #0A3871;
    border: 1px solid #D8DFE8;
    color: #D8DFE8;
    border-radius: 12px;
    width: 220px;
    height: 50px;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.boton_desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    border-radius: 12px;
    width: 220px;
    height: 50px;
    transition: background-color 0.3s ease;
}
.boton_desencriptar:hover{
    background: #afb9c7;
    color: #13498b;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cajita{
    position: absolute;
    width: 250px;
    height: 75%;
    left: 73%;
    top: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.imagen_lista{
    padding: 75px 0px 20px 18px;
}
.cajita li p{
    padding: 8px;
    width: auto;
}

#cajita_id{
    padding: 30px;
    color: #495057;
    font-size: 22px;
    text-align: left;
    overflow-wrap: break-word;
}

.aviso1{
    color: #343A40;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.aviso2{
    color: #495057;
    font-size: 12px;
    text-align: center;
}

#boton_copiar{
    display: none;
    width: 240px;
    height: 40px;
    font-size: 12px;
    position: absolute;
    top: 510px;
    right: 93px;
    border: 1px solid #0A3871;
    border-radius: 15px;
    color: #0A3871;
    transition: background-color 0.3s ease;
}

#boton_copiar:hover{
    background: #afb9c7;
    color: #13498b;
    cursor: pointer;
    transition: background-color 0.3s ease;
}